{% extends "TransferGuide/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% load socialaccount %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block banner %}

  <h1>Review Transfer Credit Requests</h1>

    {% if not user.is_authenticated %}
        <p>Welcome, please log in to continue!</p>
    {% elif user.usertype.role == 'Admin' %}
        <p>Welcome {{ user.username }}, select a transfer request to approve or deny.</p>
    {% else %}
         <p>{{ user.username }}, Students do not have access to this page.</p>
    {% endif %}

{% endblock %}

{% block content %}
{% if user.is_authenticated and user.usertype.role == 'Admin' %}
<html>
<div class="container mt-5">
    <div class = "card card-body" >
        <form method = "get">
          {{coursesFilter.form}}
          <button type = "submit">Search</button>
        </form>
    </div>
</div>
<div class="container mt-5">
        {% if courses %}
        <table class = "table center table-striped table-bordered">
         <thead class = "thead-dark">
            <tr>
              <th>Request ID</th>
              <th>Institution</th>
              <th>Course Department</th>
              <th>Course Number</th>
              <th>Course Title</th>
              <th>Submitted By</th>
              <th>Status</th>
            </tr>
         </thead>
        {%for request in requests%}
          <tr>
              <td><a href = "request/{{request.pk}}">{{request.pk}}</a></td>
              <td>{{request.foreign_course.course_institution}}</td>
              <td>{{request.foreign_course.course_dept}}</td>
              <td>{{request.foreign_course.course_num}}</td>
              <td>{{request.foreign_course.course_name}}</td>
              <td>{{request.foreign_course.username}}</td>
              {% if request.status == 'A' %}
                <td>Accepted</td>
              {% elif request.status == 'P' %}
                <td>Pending</td>
              {% elif request.status == 'D_LowGrade' %}
                <td>Denied due to low grade</td>
              {% else %}
                <td>Denied as is a bad fit</td>
              {% endif %}
          </tr>
        {%endfor%}
        </table>
        {% else %}
            <p>There are no course requests.</p>
        {% endif %}
</div>
</html>
{% endif %}
{% endblock %}
