{% load static %}{% load bootstrap5 %}{% bootstrap_css %}{% bootstrap_messages %}
{% bootstrap_javascript %}
<style>
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
</style>
<html>
<h1 class = "text-center"> <strong>Admin Approval Page</strong> </h1>
<div class = "card card-body" >
        <form method = "get">
          {{coursesFilter.form}}
          <button type = "submit">Search</button>
        </form>
</div>
        {% if courses %}
        <table class = "table center table-striped table-bordered">
         <thead class = "thead-dark">
            <tr>
              <th>Course ID</th>
              <th>Institution</th>
              <th>Subject</th>
              <th>Course Title</th>
              <th>Submitted By</th>
              <th>Status</th>
            </tr>
         </thead>
        {%for course in courses%}
          <tr>
            <td><a href = "courses/{{course.pk}}">{{course.pk}}</a></td>
            <td>{{course.course_institution}}</td>
            <td>ASDASDAD</td>
            <td>{{course.course_name}}</td>
            <td>{{course.username}}</td>
            <td>{{course.status}}</td>
          </tr>
        {%endfor%}
        </table>
        {% else %}
            <p>There are no course requests.</p>
        {% endif %}
</html>
