{% load static %}{% load bootstrap5 %}{% bootstrap_css %}{% bootstrap_messages %}
{% bootstrap_javascript %}
<style>
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
</style>
<html>
<h1 class = "text-center"> <strong>Admin Approval Page</strong> </h1>
<div class="accordion center" id="courseAccordion" >
  <div class="accordion-item">
    <h2 class="accordion-header" id="pendingHeading">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#pendingData" >
        Pending Courses
      </button>
    </h2>
    <div id="pendingData" class="accordion-collapse collapse" >
      <div class="accordion-body">
        {% if pendingCourses %}
        <ul>
        {% for course in pendingCourses %}
        {{course.course_institution}}
        <li> <b>{{course.course_name}} </b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ course.course_number}}</li>
    	<pre>
    		{{course.course_url}}
    		{{course.course_description}}
    	</pre>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no course requests.</p>
    {% endif %}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="approvedHeading">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#approvedData">
        Approved Courses
      </button>
    </h2>
    <div id="approvedData" class="accordion-collapse collapse" >
      <div class="accordion-body">
           {% if approvedCourses %}
        <ul>
        {% for course in approvedCourses %}
        {{course.course_institution}}
        <li> <b>{{course.course_name}} </b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ course.course_number}}</li>
    	<pre>
    		{{course.course_url}}
    		{{course.course_description}}
    	</pre>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no course requests.</p>
    {% endif %}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="deniedHeading">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#deniedData">
        Denied Courses
      </button>
    </h2>
    <div id="deniedData" class="accordion-collapse collapse" >
      <div class="accordion-body">
             {% if deniedCourses %}
        <ul>
        {% for course in deniedCourses %}
        {{course.course_institution}}
        <li> <b>{{course.course_name}} </b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ course.course_number}}</li>
    	<pre>
    		{{course.course_url}}
    		{{course.course_description}}
    	</pre>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no course requests.</p>
    {% endif %}
      </div>
    </div>
  </div>
</div>
</html>