{% extends "TransferGuide/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% load socialaccount %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>
{% block banner %}

  <h1> Register Known Transfer</h1>

    {% if not user.is_authenticated %}
        <p>Welcome, please log in to continue!</p>
    {% elif user.usertype.role == 'Admin' %}
        <p>Welcome {{ user.username }}, you can add a known transfer on this page.</p>
    {% else %}
         <p>{{ user.username }}, Students do not have access to this page.</p>
    {% endif %}

{% endblock %}

{% block content %}
{% if user.is_authenticated and user.usertype.role == 'Admin' %}
<div class="container mt-5">
    <div class="col-sm-3">
    <form method = "POST" class = "form-center">
        {%csrf_token%}
        {% bootstrap_form form%}
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="submit" class="btn btn-primary"><a href="/knownTransfer" style="text-decoration:none;color:white">Clear Form</a></button>
    </form>
    </div>
</div>
{% endif %}
{% endblock %}

</html>