{% extends "TransferGuide/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load socialaccount %}

{% block banner %}
  <h1> Transfer Request ID: {{course.pk}}</h1>

    {% if not user.is_authenticated %}
        <p>Welcome, please log in to continue!</p>
    {% elif user.usertype.role == 'Admin' %}
        <p>Welcome {{ user.username }}, you can approve or deny transfer credits on this page.</p>
    {% else %}
         <p>{{ user.username }}, Students do not have access to this page.</p>
    {% endif %}

{% endblock %}

{% block content %}
{% if user.is_authenticated and user.usertype.role != 'Student' %}
<div class="container mt-5">

    <p>    Username: {{course.username}} </p>
    <p>   Student Name: {{course.username.first_name}} {{course.username.last_name}} </p>
    <p>    Institution: {{course.course_institution}}</p>
    <p>    Course Name: {{course.course_name}}</p>
    <p>    Course Dept: {{course.course_dept}}</p>
    <p>  Course Number: {{course.course_num}}</p>
    <p>          Grade: {{course.course_grade}}</p>
    <p>       Delivery: {{course.course_delivery}}</p>
    <p>   Credit Hours: {{course.credit_hours}}</p>
<!--    <p>Approval Status: {{course.status}}</p>-->
<!--    <p>Equivalent UVA Course: {{course.equivalent}}</p>-->
<!--    <p>Reason for Denying: {{course.why_denied}}</p>-->

 <div class="row">
        <div class="col-sm-4">
            {% if approveForm%}
                <form method = "POST">
                    {%csrf_token %}
                    {%bootstrap_form approveForm%}
                    <button type = "submit" class = "button btn-primary" name = "approve-submit">Submit</button>
                </form>
            {%else%}
                <form method = "POST" >
                    {% csrf_token %}
                    {% bootstrap_form form %}
                <button type = "submit" name = "status-submit" class = "button btn-primary">Submit</button>
                </form>
            {%endif%}
        </div>
    </div>

</div>

{% endif %}
{% endblock %}