{% extends "TransferGuide/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load socialaccount %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endfor %}
{% endif %}

{% block banner %}
  <h1>Request a Course for Credit</h1>

    {% if not user.is_authenticated %}
        <p>Welcome, please log in to continue!</p>
    {% elif user.usertype.role == 'Admin' %}
        <p>Welcome {{ user.username }}, Admins do not have access to this page. Did you mean to go to the Review Course Requests page </p>
    {% else %}
         <p>{{ user.username }}, you can request a non-UVA course for UVA credit through this page</p>
    {% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.usertype.role == 'Student' or user.usertype.role == ''%}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <form action="" method="post" class = "form-center">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% if error != "" %}
                        <p>{{ error }}</p>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="submit" class="btn btn-primary"><a href="/requestCourse" style="text-decoration:none;color:white">Clear Form</a></button>
                </form>
        </div>
    </div>

</div>
{% endif %}
{% endblock %}
