{% extends "TransferGuide/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load socialaccount %}
<html>
{% block banner %}

  <h1>SIS Search Results</h1>
    {% if user.is_authenticated %}
        <p>{{ user.username }}, we found the following classes with the criteria you have given.</p>
    {% else %}
        <p>Welcome, please log in to coninue!</p>
    {% endif %}

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<body>
<div class="container mt-5">
    <style>
        .center {
        margin: auto;
        width: 60%;
        padding: 10px;
    }
    </style>
    <table class = "table table-striped table-bordered center" >
    <thead class = "thead-dark">
        <tr>
            {% for header in field.headers %}
                <th>{{ header }}</th>
            {% endfor %}

        </tr>
    </thead>

    <tbody>
    {% for value in field.rows %}
        <tr>
        {% for item in value %}
            <td>{{ item }}</td>
        {% endfor %}

        </tr>
    {% endfor %}

    </tbody>
</div>

</table>
</body>
{% endif %}
{% endblock %}
</html>

