{% extends "TransferGuide/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load socialaccount %}

{% block banner %}
  <h1>Search for Courses that Transfer</h1>

    {% if not user.is_authenticated %}
        <p>Welcome, please log in to continue!</p>
    {% elif user.usertype.role == 'Admin' %}
        <p>Welcome {{ user.username }}, Admins do not have access to this page. Did you mean to go to the Review Course Requests page </p>
    {% else %}
         <p>{{ user.username }}, you can search for all transfer courses that can be transferred from a university, course mnemonic, course number, common words, etc.</p>
    {% endif %}

{% endblock %}

{% block content %}
<!--Submission form-->
{% if user.is_authenticated and user.usertype.role == 'Student' %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <form action="" method="post" class = "form-center">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>
{% endif %}
{% endblock %}
