{% extends "TransferGuide/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% load socialaccount %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block banner %}
  <h1>Find a Course at UVA</h1>

    {% if user.is_authenticated %}
        <p>{{ user.username }}, you can search UVA classes through this page.</p>
    {% else %}
        <p>Welcome, please log in to continue!</p>
    {% endif %}
{% endblock %}

{% block content %}
<!--Submission form-->
{% if user.is_authenticated %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <form action="" method="post" class = "form-center">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>
{% endif %}
{% endblock %}