{% extends "TransferGuide/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% load socialaccount %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block banner %}
  <h1> Transfer Request ID</h1>

    {% if not user.is_authenticated %}
        <p>Welcome, please log in to continue!</p>
    {% elif user.usertype.role == 'Admin' %}
        <p>Welcome {{ user.username }}, you can approve or deny transfer credits on this page.</p>
    {% else %}
         <p>{{ user.username }}, Students do not have access to this page.</p>
    {% endif %}

{% endblock %}

{% block content %}
{% if user.is_authenticated and user.usertype.role == 'Admin' %}
<div class="container mt-5">
<div class =" d-flex justify-content-center">

<div class="list-group">

    {% for k,v in userList.items %}
    <div class =" d-flex justify-content-center">
    <li class="list-group-item w-100"> {{k}}: {{v}}

        <div id="{{k}}" class="collapse">
            <form action="" method = "POST" class = "form-center">
                {% csrf_token %}
                <input type="hidden"
                name="user"
                id="id_user"
                       value={{k}}
                maxlength="{{ form.name.field.max_length }}"
                       ></input>

                {{  form.newUserRole}}
                <button type = "submit" class="btn btn-secondary">Submit</button>
            </form>

        </div>

    </li>
    <button type="button" data-bs-toggle="collapse" data-bs-target="#{{k}}" class="btn btn-primary">{% bs_icon 'pencil'%} </button>
    </div>

    {% endfor %}
</div>
</div>
</div>

{% endif %}
{% endblock %}
</html>