{% extends "TransferGuide/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Viable Course</title>
</head>
{% block banner %}
  <h1>See If Your Schedule Transfers</h1>

    {% if not user.is_authenticated %}
        <p>Welcome, please log in to continue!</p>
    {% elif user.usertype.role == 'Admin' %}
        <p>Welcome {{ user.username }}, Admins do not have access to this page. </p>
    {% else %}
         <p>{{ user.username }}, enter in courses from your schedule.</p>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <p>See if your course(s) are in our system</p>
        <form id="form-container" method="POST">
            {% csrf_token %}
            {{viable_course_formset.management_form}}
            {% for form in viable_course_formset %}
                <div class="viable-course-form">
                    {{form.as_p}}
                </div>
            {% endfor %}
            <button id="add-form" type="button" class="btn btn-primary">Add Another Course</button>
            <button id="remove-form" type="button" class="btn btn-primary">Remove Last Course</button>
            <button type="submit" class="btn btn-primary">See Results</button>
        </form>
        <script>
            let viableCourseForm = document.querySelectorAll(".viable-course-form")
            let container = document.querySelector("#form-container")
            let addButton = document.querySelector("#add-form")
            let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
            let removeButton = document.querySelector("#remove-form")

            let formNum = viableCourseForm.length-1
            addButton.addEventListener('click', addForm)

            function addForm(e){
                e.preventDefault()

                let newForm = viableCourseForm[0].cloneNode(true)
                let formRegex = RegExp(`form-(\\d){1}-`,'g')

                formNum++
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
                container.insertBefore(newForm, addButton)

                totalForms.setAttribute('value', `${formNum+1}`)
            }

            removeButton.addEventListener('click', removeForm)

            function removeForm(e){
                e.preventDefault();
                let viableCourseForm = document.querySelectorAll(".viable-course-form");
                if (viableCourseForm.length === 1) {
                    return;
                }
                let lastForm = viableCourseForm[viableCourseForm.length-1];
                lastForm.remove();
                formNum = viableCourseForm.length-1;
                totalForms.setAttribute('value', `${viableCourseForm.length}`);
            }
        </script>
    </div>
{% endblock %}
