<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Viable Course</title>
</head>
<body>

    <h1>See if your course(s) are in our system</h1>
    <form id="form-container" method="POST">
        {% csrf_token %}
        {{viable_course_formset.management_form}}
        {% for form in viable_course_formset %}
            <div class="viable-course-form">
                {{form.as_p}}
            </div>
        {% endfor %}
        <button id="add-form" type="button">Add Another Course</button>
<!--        <button id="remove-form" type="button">Remove Last Course</button>-->
        <button type="submit">See Results</button>
    </form>
    <script>
        let viableCourseForm = document.querySelectorAll(".viable-course-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
        let removeButton = document.querySelector("#remove-form")

        let formNum = viableCourseForm.length-1
        addButton.addEventListener('click', addForm)

        function addForm(e){
            e.preventDefault()

            let newForm = viableCourseForm[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.insertBefore(newForm, addButton)

            totalForms.setAttribute('value', `${formNum+1}`)
        }

<!--        removeButton.addEventListener('click', removeForm)-->

<!--        function removeForm(e){-->
<!--            e.preventDefault()-->
<!--            let lastForm = viableCourseForm[viableCourseForm.length-1]-->
<!--            lastForm.remove()-->
<!--            formNum = viableCourseForm.length-1-->
<!--            totalForms.setAttribute('value', `${viableCourseForm.length}`)-->
<!--        }-->
    </script>
    </body>
</html>