{% extends "TransferGuide/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load socialaccount %}

{% block banner %}
  <h1>Do your Credits Transfer?</h1>

    {% if not user.is_authenticated %}
        <p>Welcome, please log in to continue!</p>
    {% elif user.usertype.role == 'Admin' %}
        <p>Welcome {{ user.username }}, Admins do not have access to this page. Did you mean to go to the Review Course Requests page </p>
    {% else %}
         <p>{{ user.username }}, you can request a non-UVA course for UVA credit through this page</p>
    {% endif %}

{% endblock %}

{% block content %}
{% if user.is_authenticated and user.usertype.role == 'Student' or user.usertype.role == ''%}
<body>
    <style>
        input[type=text] {
            width: 80%;
            padding: 3px 5px;
            margin: 4px 0;
            box-sizing: border-box;
            font-size: 16px;
        }
        .has-error input, .has-error textarea {
          border: 1px solid red;
        }

        .has-error .error {
          color: red;
        }
    </style>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
        <form id="form-container" method="POST">
                {% csrf_token %}
                {{viable_course_formset.management_form}}

                {% for form in viable_course_formset %}
                    <div class="viable-course-form">
                        <div class="card-body">
                            {% for field in form %}
                              <div class="form-group{% if field.errors %} has-error{% endif %}">
                                  {{ field.label_tag }}
                                  {{ field }}
                                  <div class="error">
                                      {{ field.errors|striptags }}
                                  </div>
                              </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                {% if error %}
                    {% if error != "" %}
                        <p style="color: red;">{{ error }}</p>
                    {% endif %}
                {% endif %}
                <button id="add-form" type="button" class="btn btn-primary">Add Another Course</button>
                <button id="remove-form" type="button" class="btn btn-primary">Remove Last Course</button>
                <button type="submit" class="btn btn-primary">See Results</button>
        </form>
            </div>

        </div>
    </div>
</div>
    <script>
            let viableCourseForm = document.querySelectorAll(".viable-course-form")
            let container = document.querySelector("#form-container")
            let addButton = document.querySelector("#add-form")
            let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
            let removeButton = document.querySelector("#remove-form")

            let formNum = viableCourseForm.length-1
            addButton.addEventListener('click', addForm)

            function addForm(e){
                e.preventDefault()

                let newForm = viableCourseForm[0].cloneNode(true)
                let formRegex = RegExp(`form-(\\d){1}-`,'g')

                formNum++
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
                container.insertBefore(newForm, addButton)

                totalForms.setAttribute('value', `${formNum+1}`)
            }

            removeButton.addEventListener('click', removeForm)

            function removeForm(e){
                e.preventDefault();
                let viableCourseForm = document.querySelectorAll(".viable-course-form");
                if (viableCourseForm.length === 1) {
                    return;
                }
                let lastForm = viableCourseForm[viableCourseForm.length-1];
                lastForm.remove();
                formNum = viableCourseForm.length-1;
                totalForms.setAttribute('value', `${viableCourseForm.length-1}`);
            }
        </script>
    </body>
{% endif %}
{% endblock %}
</html>
