{% extends "TransferGuide/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% load socialaccount %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html>

<body>
{% block banner %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endfor %}
{% endif %}
  <h1>UVA's best ever Transfer Guide</h1>

    {% if not user.is_authenticated %}
        <p>Welcome, please log in to continue!</p>
    {% elif user.usertype.role == 'Admin' %}
        <p>Welcome {{ user.username }}, You are logged in as  an {{user.usertype.role}}.</p>
    {% else %}
         <p>Welcome {{ user.username }}, You are logged in as  a Student.</p>
    {% endif %}
{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-5">
            <div class="accordion center" id="courseAccordion" >
        <div class="accordion-item">
            <h2 class="accordion-header" id="pendingHeading">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#pendingData" >
                Pending for Review
                </button>
            </h2>
            <div id="pendingData" class="accordion-collapse expand" >
                <div class="accordion-body">
                    {% if pending_requests %}
                    <ul>
                        {% for request in pending_requests %}
                        <div class="card-body">
                        <h6 class="card-title">{{request.foreign_course.course_name}}</h6>
                        <p class="card-text">{{request.foreign_course.course_institution }} <br> {{request.foreign_course.course_dept}}&nbsp;{{request.foreign_course.course_num}}</p>
                        </div>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>There are no pending course requests.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="approvedHeading">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#approvedData" >
                Accepted Requests
                </button>
            </h2>
            <div id="approvedData" class="accordion-collapse collapse" >
                <div class="accordion-body">
                    {% if accepted_requests %}
                    <ul>
                        {% for request in accepted_requests %}
                        <div class="card-body">
                        <h6 class="card-title">{{request.foreign_course.course_name}}</h6>
                        <p class="card-text">{{request.foreign_course.course_institution }} <br> {{request.foreign_course.course_dept}}&nbsp;{{request.foreign_course.course_num}}</p>
                        </div>
                        {% endfor %}
                    </ul>
                        {% else %}
                        <p>You have not accepted any course requests.</p>
                        {% endif %}
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="deniedHeader">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#deniedData" >
                Denied Requests
                </button>
            </h2>
            <div id="deniedData" class="accordion-collapse collapse" >
                <div class="accordion-body">
                    {% if denied_requests %}
                    <ul>
                        {% for request in denied_requests %}
                        <div class="card-body">
                        <h6 class="card-title">{{request.foreign_course.course_name}}</h6>
                        <p class="card-text">{{request.foreign_course.course_institution }} <br> {{request.foreign_course.course_dept}}&nbsp;{{request.foreign_course.course_num}}</p>
                        </div>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>You have not denied any course requests.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
        </div>

        <div class="col-sm-1"></div>

        <div class="col">
            {% if user.usertype.role == 'Student' %}
            <div class="card-body">
                <h4 class="card-title">How to apply for Transfer Credits</h4>
                <p class="card-text"> Click on "Request a Course for Credit" in the navbar to fill out and submit a request.
                    <br>Check back on the Home page for the Status of the transfer request.</p>
            </div>
            {% elif user.usertype.role == 'Admin' %}
            <div class="card-body">
                <h4 class="card-title">How to review requests for Transfer Credits</h4>
                <p class="card-text"> Click on "Review Transfer Credit Requests" in the navbar to approve or deny requests.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endif %}
{% endblock %}
</body>
</html>