{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<html>
<body>

<div class="p-5 bg-primary text-warning text-center">
  <h1>UVA's best ever Transfer Guide</h1>

    {% if not user.is_authenticated %}
        <p>Welcome, please log in to continue!</p>
    {% elif user.usertype.role == 'Admin' %}
        <p>Welcome {{ user.username }}, You are logged in as  an {{user.usertype.role}}</p>
    {% else %}
         <p>Welcome {{ user.username }}, You are logged in as  a Student</p>
    {% endif %}

</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            {% if not user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item me-4" >
                        <a class="nav-link active" href="{% provider_login_url 'google' %}">Login With Google</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/logout"> Log Out</a>
                    </li>
                </ul>
            {% elif user.usertype.role == 'Admin' %}
                <ul class="navbar-nav">
                    <li class="nav-item me-4" >
                        <a class="nav-link disable" href="{% provider_login_url 'google' %}">Login With Google</a>
                    </li>

                    <li class="nav-item me-4">
                         <a class="nav-link active" href="/sisRequest">Find a Course at UVA</a>
                    </li>

                    <li class="nav-item me-4" >
                        <a class="nav-link active" href="/adminApproval">Review Transfer Credit Requests</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                     <a class="nav-link active" href="/logout"> Log Out</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item me-4" >
                    <a class="nav-link disabled" href="{% provider_login_url 'google' %}">Login With Google</a>
                    </li>

                     <li class="nav-item me-4">
                         <a class="nav-link active" href="/sisRequest">Find a Course at UVA</a>
                     </li>

                    <li class="nav-item me-4">
                     <a class="nav-link active" href="/requestCourse">Request a Course for Credit</a>
                    </li>
                    <li class="nav-item me-4">
                    <a class="nav-link active" href="/requestCourseList">Status of Credit Requests</a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link active" href="/submitViableCourse">Do Courses Transfer?</a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link active" href="/searchForCourse/">See Transfer Courses</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                     <a class="nav-link active" href="/logout"> Log Out</a>
                    </li>
                </ul>
            {% endif %}
        </div>
</nav>
    {% if not user.is_authenticated %}
    {% elif user.usertype.role == 'Admin' %}
        <h1>Summary of requests</h1>
        <h2>Courses that I have yet to look at</h2>
            {% if pending_requests %}
            <ul>
                {% for request in pending_requests %}
                    <h6>{{request.foreign_course.course_name}}</h6>
                    <p>{{request.foreign_course.course_institution }} <br> {{request.foreign_course.course_dept}}&nbsp;{{request.foreign_course.course_num}}</p>
                {% endfor %}
            </ul>
            {% else %}
                <p>There are no pending course requests.</p>
          {% endif %}
        <h2>Courses that I have approved</h2>
            {% if accepted_requests %}
            <ul>
                {% for request in accepted_requests %}
                    <h6>{{request.foreign_course.course_name}}</h6>
                    <p>{{request.foreign_course.course_institution }} <br> {{request.foreign_course.course_dept}}&nbsp;{{request.foreign_course.course_num}}</p>
                {% endfor %}
            </ul>
            {% else %}
                <p>You have not accepted any course requests.</p>
          {% endif %}
        <h2>Courses that I have denied</h2>
            {% if denied_requests %}
            <ul>
                {% for request in denied_requests %}
                    <h6>{{request.foreign_course.course_name}}</h6>
                    <p>{{request.foreign_course.course_institution }} <br> {{request.foreign_course.course_dept}}&nbsp;{{request.foreign_course.course_num}}</p>
                {% endfor %}
            </ul>
            {% else %}
                <p>You have not denied any course requests.</p>
            {% endif %}
    {%else%}

    {%endif%}

</body>
</html>