{% extends "TransferGuide/base.html" %}

{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<html>
<body>

{% block banner %}
  <h1>UVA's best ever Transfer Guide</h1>

    {% if not user.is_authenticated %}
        <p>Welcome, please log in to continue!</p>
    {% elif user.usertype.role == 'Admin' %}
        <p>Welcome {{ user.username }}, You are logged in as  an {{user.usertype.role}}</p>
    {% else %}
         <p>Welcome {{ user.username }}, You are logged in as  a Student</p>
    {% endif %}
{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
    {% elif user.usertype.role == 'Admin' %}
        <h1>Summary of requests</h1>
        <h2>Courses that I have yet to look at</h2>
            {% if pending_requests %}
            <ul>
                {% for request in pending_requests %}
                    <h6>{{request.foreign_course.course_name}}</h6>
                    <p>{{request.foreign_course.course_institution }} <br> {{request.foreign_course.course_dept}}&nbsp;{{request.foreign_course.course_num}}</p>
                {% endfor %}
            </ul>
            {% else %}
                <p>There are no pending course requests.</p>
            {% endif %}
        <h2>Courses that I have approved</h2>
            {% if accepted_requests %}
            <ul>
                {% for request in accepted_requests %}
                    <h6>{{request.foreign_course.course_name}}</h6>
                    <p>{{request.foreign_course.course_institution }} <br> {{request.foreign_course.course_dept}}&nbsp;{{request.foreign_course.course_num}}</p>
                {% endfor %}
            </ul>
            {% else %}
                <p>You have not accepted any course requests.</p>
            {% endif %}
        <h2>Courses that I have denied</h2>
            {% if denied_requests %}
            <ul>
                {% for request in denied_requests %}
                    <h6>{{request.foreign_course.course_name}}</h6>
                    <p>{{request.foreign_course.course_institution }} <br> {{request.foreign_course.course_dept}}&nbsp;{{request.foreign_course.course_num}}</p>
                {% endfor %}
            </ul>
            {% else %}
                <p>You have not denied any course requests.</p>
            {% endif %}
    {%else%}
    <div class="container mt-5">
        <h5>Current Status of Requests</h5>
        <p>Courses Left Pending</p>
            {% if pending_requests %}
            <table class="table table-striped table-bordered center">
                <thead class="thead-dark">
                    <tr>
                        <th>Transfer Course Name</th>
                        <th>Transfer Course Code</th>
                        <th>Transfer Institution</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in pending_requests %}
                    <tr>
                        <td>{{request.foreign_course.course_name}}</td>
                        <td>{{request.foreign_course.course_dept}}&nbsp;{{request.foreign_course.course_num}}</td>
                        <td>{{request.foreign_course.course_institution }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>There are no pending course requests.</p>
            {% endif %}
        <p>Courses that are Accepted</p>
            {% if accepted_requests %}
                <table class="table table-striped table-bordered center">
                    <thead class="thead-dark">
                        <tr>
                            <th>Transfer Course Name</th>
                            <th>Transfer Course Code</th>
                            <th>Transfer Institution</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in accepted_requests %}
                        <tr>
                            <td>{{request.foreign_course.course_name}}</td>
                            <td>{{request.foreign_course.course_dept}}&nbsp;{{request.foreign_course.course_num}}</td>
                            <td>{{request.foreign_course.course_institution }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have not accepted any course requests.</p>
            {% endif %}
        <h2>Courses that have been Denied</h2>
            {% if denied_requests %}
            <table class="table table-striped table-bordered center">
                <thead class="thead-dark">
                    <tr>
                        <th>Transfer Course Name</th>
                        <th>Transfer Course Code</th>
                        <th>Transfer Institution</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in denied_requests %}
                    <tr>
                        <td>{{request.foreign_course.course_name}}</td>
                        <td>{{request.foreign_course.course_dept}}&nbsp;{{request.foreign_course.course_num}}</td>
                        <td>{{request.foreign_course.course_institution }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>You have not denied any course requests.</p>
            {% endif %}
    </div>
    {%endif%}
{% endblock %}
</body>
</html>